.navbar{
    background-color: #94bdff;
}

.footer{
    background-color: #94bdff;
}

.btn{
    background-color: #94bdff;
}

.btn:hover{
    background-color: #e2edff;
    transition: 1s;
    box-shadow: 1.2px 1.2px 0 0 #272727;
  }

.jumbotron{
    padding-top: 3rem;
    background-color: #e2edff;
}

#project{
    background-color: #e2edff;
}

#activity{
    background-color: #e2edff;
}

section{
    padding-top: 5rem;
}

#contact{
    background-color: #e2edff;
}

.button {
    background-color: #94bdff;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  .button:hover{
    background-color: #e2edff;
    transition: 0.5s;
    box-shadow: 1.2px 1.2px 0 0 #272727;
  }